<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentify_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icone_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.module.event.UpdateEventActi"></activity>
        <activity android:name=".activities.module.restaurant.review.AddReviewActi" />
        <activity android:name=".activities.mainMenuView.UpdateProfilActi" />
        <activity
            android:name=".activities.module.restaurant.review.ReviewActi"
            android:parentActivityName=".activities.module.restaurant.RestauActi" />
        <activity android:name=".activities.startView.PrivacyActi" />
        <activity android:name=".activities.module.restaurant.RestauInfoActi" />
        <activity android:name=".activities.module.event.EventInfoActi" />
        <activity
            android:name=".activities.module.event.AddEventActi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.mainMenuView.SettingsActivity" />
        <activity
            android:name=".activities.module.restaurant.RestauActi"
            android:parentActivityName=".activities.mainMenuView.MainMenuActi" />
        <activity
            android:name=".activities.module.event.EventActi"
            android:parentActivityName=".activities.mainMenuView.MainMenuActi" />
        <activity
            android:name=".activities.startView.RegisterActi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.startView.SignInActi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.mainMenuView.MainMenuActi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.startView.StartApp"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>